body,
html,
#root,
.wrapper {
  height: 100%;
  width: 100%;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.bar-wrapper {
  margin-top: 5px;
}

.tree-wrapper {
  height: calc(100vh - 200px);
}

.bitsorter-tree-wrapper {
  height: calc(100vh - 200px);
}

.next,
.previous {
  margin-right: 5px !important;
  margin-left: 5px !important;
  padding-right: 0 !important;
  padding-left: 0 !important;
  min-width: 40px !important;
}

.collapse,
.addBit,
.expand {

  margin-left: 10px !important;
  padding-right: 0 !important;
  padding-left: 0 !important;
  min-width: 40px !important;
}

.formControl{
  min-width:565px !important;
  margin-top:10px !important;
}

